/* Coolors Exported Palette - coolors.co/47167d-ff5757-576ca8-302b27-f5f3f5 */

/* HSL */
$color1: hsla(269%, 70%, 29%, 1);
$color2: hsla(0%, 100%, 67%, 1);
$color3: hsla(224%, 32%, 50%, 1);
$color4: hsla(27%, 10%, 17%, 1);
$color5: hsla(300%, 9%, 96%, 1);

/* RGB */
$color1: hsl(269, 70%, 29%);
$color2: hsl(0, 100%, 67%);
$color3: rgb(87, 108, 168);
$color4: rgba(48, 43, 39, 1);
$color5: rgba(245, 243, 245, 1);