/* Coolors Exported Palette - coolors.co/47167d-ff5757-576ca8-302b27-f5f3f5 */

/* HSL */
$color1: hsla(269%, 70%, 29%, 1);
$color2: hsla(0%, 100%, 67%, 1);
$color3: hsla(224%, 32%, 50%, 1);
$color4: hsla(27%, 10%, 17%, 1);
$color5: hsla(300%, 9%, 96%, 1);

/* RGB */
$color1: #48167e;
$color2: #ff5757;
$color3: #576ca8;
$color4: #302b27;
$color5: #f5f3f5;