/* Coolors Exported Palette - coolors.co/423e37-6e675f-a39594-eb5e55-edebd7 */

/* RGB */
$color1: rgba(66, 62, 55, 1);
$color2: rgba(110, 103, 95, 1);
$color3: rgba(163, 149, 148, 1);
$color4: rgba(235, 94, 85, 1);
$color5: rgba(237, 235, 215, 1);