/* Coolors Exported Palette - coolors.co/423e37-6e675f-a39594-eb5e55-edebd7 */
/* RGB */
header .presentation, header .presentation .presentationCard, section, section .tecnologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #423e37;
}

.mainContainer {
  display: absolute;
  overflow: hidden;
}

header {
  background-color: #423e37;
}

header .presentation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

header .presentation .presentationCard {
  width: 80%;
  height: 80%;
  background-color: #6e675f;
  border-radius: 3%;
}

header .presentation .presentationCard img {
  border: solid 5px;
  border-color: #eb5e55;
  width: 70%;
  border-radius: 50%;
  -webkit-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

header .presentation .presentationCard .title {
  color: #edebd7;
  text-align: center;
}

header .presentation .presentationCard p {
  color: #edebd7;
  text-align: center;
  padding: 5%;
}

header .presentation .presentationCard a {
  text-decoration: none;
  font-weight: bolder;
  color: #eb5e55;
  padding: 6%;
  margin: 6%;
  background-color: #a39594;
}

header .presentation .presentationCard a:hover {
  background-color: #423e37;
  color: #edebd7;
}

section {
  width: 100vw;
  height: 100vh;
}

section .tecnologies {
  background-color: #6e675f;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section .tecnologies .card {
  background-color: #a39594;
  margin: 5%;
  width: 100%;
}

section .tecnologies .frontTec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #a39594;
}

section .tecnologies .backTec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #6e675f;
}

section .tecnologies .personalTec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #edebd7;
}

section .tecnologies a {
  text-decoration: none;
  font-weight: bolder;
  color: #eb5e55;
  padding: 6%;
  margin: 6%;
  background-color: #a39594;
}

section .tecnologies a:hover {
  background-color: #423e37;
  color: #edebd7;
}
/*# sourceMappingURL=styles.css.map */