@import '_mobileGrid.scss';
@import '_desktopGrid.scss';
@import '_areaGrid.scss';
@import '_palette.scss';
@import '_flexConfig.scss';

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: $color1;
}


.mainContainer{
    display: absolute;
    overflow: hidden;
}

header{
    background-color: $color1;
    .presentation{ 
        @extend %basicFlexColumn;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        .presentationCard{
            @extend %basicFlexColumn;
            width: 80%;
            height: 80%;
            background-color: $color2;
            border-radius: 3%;
            img{
                border: solid 5px;
                border-color: $color4;
                width: 70%;
                border-radius: 50%;
                transform: translate(0%, -25%);
            }
            .title{
                color: $color5;
                text-align: center;
            }
            p{
                color: $color5;
                text-align: center;
                padding: 5%;
            }
            a{
                text-decoration: none;
                font-weight: bolder;
                color: $color4;
                padding: 6%;
                margin: 6%;
                background-color: $color3;
                &:hover{
                    background-color: $color1;
                    color: $color5;
                }
            }
        }
    }
}

section{
    @extend %basicFlexColumn;
    width: 100vw;
    height: 100vh;
    .tecnologies{ 
        background-color: $color2;
        @extend %basicFlexColumn;
        justify-content: space-evenly;
        .card{ 
            background-color: $color3;
            margin: 5%;
            width: 100%;
        }
        .frontTec{
            display: flex;
            flex-direction: row-reverse;
            background-color: $color3;
        }
        .backTec{
            display: flex;
            flex-direction: row;
            background-color: $color2;
        }
        .personalTec{
            display: flex;
            flex-direction: row-reverse;
            background-color: $color5;
        }
        a{
            text-decoration: none;
            font-weight: bolder;
            color: $color4;
            padding: 6%;
            margin: 6%;
            background-color: $color3;
            &:hover{
                background-color: $color1;
                color: $color5;
            }
        }
    }
}

